.hidden {
    display: none;
}

.grades-input, .grades-add-btn {
    max-width: 250px; 
}

@media (max-width: 800px) {
    .table th,
.table td,
.table input {
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap;
}

 }

 @media (max-width: 600px) {
    .table th,
.table td,
.table input {
    max-width: 60px;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap;
}
 }